extends layout

block content
  - each post in posts
    .page-header
      li
        a(href="/post/#{post.id}")= post.title
        .content!=post.body
  h1.page-header
              | Analizador 
              small Descendente Predictivo Recursivo
        |             
        .row
          .panel-heading
            section
              p This website contains a simple example of a predictive parser
              |                     
              #header.header
                p Load example to parse
                |                         
                div
                  textarea#original(autofocus='', cols='80', rows='5')
                |                         
                br
                |                         
                #prueba
                |                         
                div
                  .loadfile
                    button#example1(onclick="dump('/examples/example1.txt');", type='button') Ejemplo 1
                    |                                 
                    button#example2(onclick="dump('/examples/example2.txt');", type='button') Ejemplo 2
                    |                                 
                    button#example3(onclick="dump('/examples/example3.txt');", type='button') Ejemplo 3
                    |                                 
                    button#exampleerr(onclick="dump('/examples/example_err.txt');", type='button') Ejemplo Error
                    |                                 
                    input#files(type='file')
                  |                             
                  script.
                    $(document).ready(function() {
                    $("#example1").click(function(){
                    })
                    });
                    function dump(fileName) {
                    $.ajax({
                    url: fileName,
                    cache: false,
                    success: function (data) {
                    $("#original").val(data);
                    }
                    });
                    }
                    document.getElementById("files").addEventListener('change', CopyMe, false);
                    function CopyMe(evt) {
                    var file = evt.target.files[0];
                    if (file) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                    original.innerHTML = e.target.result;
                    }
                    reader.readAsText(file);
                    }
                    else { alert("Failed to load file"); }
                    }
              |                     
              .panel-body
                input#PARSE.mylink(type='button', value='parse')
                |                         
                pre#OUTPUT.

