html *
{
   /* The !important ensures that nothing can override what you've set in this style (unless it is also important). */
   font-family: Arial;
}

h1            {
  text-align: center;
  font-size: 500%;
  padding-top: 3%;
  font-family: "Georgia", bold;
  }

th, td, p        {
  vertical-align: top;
  text-align: center;
  padding: 1px  1px;
  }

input        {
  text-align: right;
  border: none;
  margin: auto;
  }     /* Align input to the right  */

  input#files {
     margin-left: 25%;
     font-size: 25%;
     padding-top: 3%;
 }

table {
  width: 90%;
  border: 0px;
  cellpadding: 0px;
  margin: auto;
  }

textarea {
  border: 2px solid black;
  font-size: 30%;
  color: black;
  font-family: monospace;
  height: 100px;
  overflow: auto;
  padding: 0.5em;
  width: 50%;
  margin: auto;
}

pre {
  border: 2px solid black;
  color: black;
  font-family: monospace;
  height: 3in;
  overflow: auto;
  padding: 0.5em;
  width: 50%;
  margin: auto;
  resize: both;
}

pre#OUTPUT {
   text-align: left;
   margin-bottom: 5%;
}

div#botones {
   width: 100%;
   margin-bottom: 5%;
   margin-top: 2%;
}

body
{
 background-image: url("../images/fondo.jpg");
 background-color:white;  /* blue */
 text-align: center;
 font-weight: bold;
 color: #336936;
 font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}
